# Numpy and Pandas

## Goals

- Introduce the numpy and pandas libraries.

Learning objectives:

      - Numpy arrays and its mathmateical abilities
      
      - Importing data into pandas using CSVs
      
      - Slicing and filtering pandas dataframes
      
      - Cleaning data
      
      - Statistics and other math with pandas


- Two common Python libraries used for statistical analysis, data munging/wrangling/transformation, and other mathematical purpose.

- To put it simply, there is your connection to the data. Pandas is the most important tool because you'll spend the most time and effort with it.

### Numpy

Numpy has a wide ecosystem of functions and uses but for the purpose of this course we will focus on arrays aka numpy's version of a list

In [6]:
!pip install tweepy

Requirement already satisfied: tweepy in /Users/eric/anaconda/lib/python3.5/site-packages
Requirement already satisfied: requests>=2.4.3 in /Users/eric/anaconda/lib/python3.5/site-packages (from tweepy)
Requirement already satisfied: six>=1.7.3 in /Users/eric/anaconda/lib/python3.5/site-packages (from tweepy)
Requirement already satisfied: requests-oauthlib>=0.4.1 in /Users/eric/anaconda/lib/python3.5/site-packages (from tweepy)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Users/eric/anaconda/lib/python3.5/site-packages (from requests>=2.4.3->tweepy)
Requirement already satisfied: idna<2.7,>=2.5 in /Users/eric/anaconda/lib/python3.5/site-packages (from requests>=2.4.3->tweepy)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/eric/anaconda/lib/python3.5/site-packages (from requests>=2.4.3->tweepy)
Requirement already satisfied: certifi>=2017.4.17 in /Users/eric/anaconda/lib/python3.5/site-packages (from requests>=2.4.3->tweepy)
Requirement already satisfied: oauthlib>=0.6.2 in /Users/eric/anaconda/lib/python3.5/site-packages (from requests-oauthlib>=0.4.1->tweepy)

In [7]:
# Import library
import numpy as np

In [8]:
import pandas as pd

In [9]:
#Let's turn a list into an array

l = [3,2,6,7,9,1,2,-5]

array = np.array(l)

In [10]:
#Call it
array

array([ 3,  2,  6,  7,  9,  1,  2, -5])

In [11]:
#Call type
type(array)

numpy.ndarray

How arrays differ from lists

In [12]:
#Does this code work

l + 3

TypeError: can only concatenate list (not "int") to list

In [ ]:
#What about this?
array + 3

In [ ]:
#Multiply l by 2 
l * 2

In [ ]:
#Multiply array by 2 
array * 2

Numpy array have mathematical abilities that lists don't have, which makes them easier to use

In [ ]:
#Mean value
array.mean()

In [ ]:
#Maximum value
array.max()

In [ ]:
#Mininum value
array.min()

In [ ]:
#Sum all values
array.sum()

In [ ]:
#Find standard deviation
array.std()

In [ ]:
#What happens when you do this
dir(array)

Can also use numpy itself to call certain functions

In [ ]:
#Median
np.median(array)

In [ ]:
#Square
np.square(array)

In [ ]:
#Square root
np.sqrt(array)

In [ ]:
# Absolute value
array.abs()

Arrays can also be multi-dimensional

In [ ]:
#Make two dimensional numpy as with arange and reshape functions

np.arange(16)

In [ ]:
arr_2d = np.arange(16).reshape(4,4)
arr_2d

<b>Slicing two dimension array<b>

In [ ]:
#Slice rows
arr_2d[:3]

In [ ]:
#Slice columns 
arr_2d[:, 1:]

In [ ]:
#Slice both rows and columns
arr_2d[2: , :3]

In [ ]:
#Slice specific value
arr_2d[1,2]

Fantastic numpy tutorial here: https://www.datacamp.com/community/tutorials/python-numpy-tutorial

## Pandas

From <u>[Mastering Pandas](https://www.packtpub.com/big-data-and-business-intelligence/mastering-pandas)</u>

    The pandas is a high-performance open source library for data analysis in Python developed by Wes McKinney in 2008. Over the years, it has become the de-facto standard library for data analysis using Python. There's been great adoption of the tool, a large community behind it, (220+ contributors and 9000+ commits by 03/2014), rapid iteration, features, and enhancements continuously made.
    
    • It can process a variety of data sets in different formats: time series, tabular heterogeneous, and matrix data.
    • It facilitates loading/importing data from varied sources such as CSV and DB/SQL.
    It can handle a myriad of operations on data sets: subsetting, slicing,  ltering, merging, groupBy, re-ordering, and re-shaping.
    • It can deal with missing data according to rules defined by the user/ developer: ignore, convert to 0, and so on.
    • It can be used for parsing and munging (conversion) of data as well as modeling and statistical analysis.
    • It integrates well with other Python libraries such as statsmodels, SciPy, and scikit-learn.

In [ ]:
#Import pandas library
import pandas as pd

In [ ]:
#Create a pandas series.
series = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
series

In [ ]:
#Return row
series["a"]

In [ ]:
#Change value in the series
series["d"] = 7
series

In [ ]:
#Turn python dictionary into pandas series
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

In [ ]:
#Call California
population['California']

In [ ]:
#Turn python dictinonary into pandas data frame

data = {"feature_one" :[1,2,4,8,-3],
       "feature_two" : ["haight", "mission", "geary", "castro", " potrero"],
       "feature_three": [True, True, False, True, False]}
df = pd.DataFrame(data, index=[6,7,8,9,10])

df

In [ ]:
#Returns columns
df.columns

In [ ]:
#Returns index
df.index

In [ ]:
#Returns numpy array version of data frame. Also works on series.
df.values

In [ ]:
#Call type on df
type(df)

In [ ]:
#Call feature_one column
f1 = df["feature_one"]
f1

In [ ]:
#Call type on f1
type(f1)

In [ ]:
#Select columns
cols = ["feature_one", "feature_two"]
df[cols]

In [ ]:
#Add new column to dataset

#Create new column feature_four by assigning it to number 4
df["feature_four"] = 4

#Create new column feature_five by assigning it to list ds
ds = ["Data", "Science", "Math", "Programming", "Hacking"]
df["feature_five"] = ds
df

First dataset we will work with is the the drinks dataset

In [ ]:
#File location of drinks dataset
path = "../data/drinks.csv"

drinks = pd.read_csv(path)

In [ ]:
#Take a look at the data

drinks.head()

In [ ]:
#Let's designate the country column as the index

drinks.set_index("country", inplace=True)

In [ ]:
#Head is used to view first 5 rows. 5 is default but can be changed.
drinks.head()

In [ ]:
#Tail is for last five rows
drinks.tail()

In [ ]:
#How many rows and columns are there in this dataset?
drinks.shape

General dataset information

In [ ]:
#Lets look at this some details of this dataset
drinks.info()

In [ ]:
drinks.describe()

In [ ]:
drinks.corr()

What do these two commands do?

## Slicing dataframes

.loc

In [ ]:
# Select values in Peru row
drinks.loc["Peru"]

In [ ]:
#Select values in wine_servings column
drinks.loc[:, "wine_servings"].head()

In [ ]:
#Slice countries and columns
drinks.loc["Germany": "Guyana", "beer_servings":"wine_servings"]

.iloc

In [ ]:
#What do you think iloc does???

In [ ]:
#Returns row at index 48
drinks.iloc[48]

In [ ]:
#Returns column at index 1
drinks.iloc[:,1].head()

In [ ]:
#Return slice of rows and columns
drinks.iloc[120:137:, 1:3]

iloc slices dataframes using the integer index.

<b>Conditional selection<b>

In [ ]:
drinks.continent == "EU"

In [ ]:
drinks.wine_servings > 20

Take those commands and pass them into the drinks data frame

In [ ]:
drinks[drinks.continent == "EU"]

In [ ]:
#Non european countries
drinks[drinks.continent != "EU"]

In [ ]:
#Rows where wine_servings greater than 20
drinks[drinks.wine_servings > 20]

`drinks.continent=='EU'` by itself returns a bunch of Trues and Falses.

When you wrap drinks around it with square brackets you're telling the drinks dataframe to select only those that are True, and not the False ones.

In [ ]:
#Return a data frame where both conditions are true
drinks[(drinks.continent == "EU") & (drinks.wine_servings > 20)]

In [ ]:
#Return data frame where either condition is true
drinks[(drinks.continent == "EU") | (drinks.wine_servings > 20)]

In [ ]:
#Return rows where wine_serving is greater than beer_servings
drinks[drinks.wine_servings > drinks.beer_servings]

In [ ]:
#Call index to return just the countries
drinks[drinks.wine_servings > drinks.beer_servings].index

We can sum boolean values.

In [ ]:
#How many countries consume no beer at all?
(drinks.beer_servings == 0).sum()

<b>Pandas Series<b>

In [ ]:
#Assign beer_servings to variable beer
beer = drinks.beer_servings
beer.head()

In [ ]:
#Can do math operations similar to numpy arrays
#Multiply every value in beer by 
beer*2

In [ ]:
#Add 2 to every value in beer
beer + 2

In [ ]:
#Derive mean of beer
beer.mean()

In [ ]:
#Derive median of beer
beer.median()

In [ ]:
#Sum all values in beer
beer.sum()

In [ ]:
#Pandas series can be added to one another
wine = drinks.wine_servings
beer + wine

In [ ]:
#Create a new column call total_servings that is the sum of the beer, wine, and spirits columns
drinks["total_servivings"] = beer + wine + drinks.spirit_servings
drinks.head()

In [ ]:
#Let's take a look at continent
cont = drinks.continent

In [ ]:
#How many null values are there in continent
#First check to see which values are null
cont.isnull()

In [ ]:
#Replace every null with "No Continent"
cont.fillna("No Continent", inplace=True)

`.fillna()` is great replacing all the null values in a numerical column with the mean of that column

In [ ]:
#Drop every null value in cont
#cont.dropna(inplace=True)

`.isnull()`, `.fillna()`, and `.dropna()` work with data frames as well

In [ ]:
#What are the continents in cont?
cont.unique()

In [ ]:
#How many unique values there are
cont.nunique()

In [ ]:
#How many countries are from each continent?
cont.value_counts()

In [ ]:
#What percentage of the data belongs to each continent
cont.value_counts(normalize=True)

Lets go back to drinks data frame

In [ ]:
drinks.columns

In [ ]:
#Show me the top 5 booziezt countries
drinks.sort_values(by="total_servings").head().index

Does that seem right?

We're forgetting something

In [ ]:
drinks.sort_values(by="total_servings", ascending=False).head().index

In [ ]:
#This also works (kinda)
drinks.sort_values(by="total_servings").tail().index

In [ ]:
#Sort values in a series
beer.sort_values()

### Exercise time

1. Which countries drink more spirits than beer?

2. Find the top five booziest countries of each continent, do not include "No continent." Try using dictionary and for loop.

In [ ]:
#Answer 1.

drinks[drinks.spirit_servings > drinks.beer_servings].index

In [ ]:
#Answer 2.

drinks_dict = {}

for i in drinks.continent.unique():
    if i != "No Continent":
        value = drinks[drinks.continent == i].sort_values(by = "total_servings",
                                                        ascending=False).index.tolist()[:5]
        drinks_dict[i] = value
drinks_dict

## Groupby

**Split Apply Combine**

<img src="https://www.safaribooksonline.com/library/view/learning-pandas/9781783985128/graphics/5128OS_09_01.jpg">

In [ ]:
#Group by continent
drinks.groupby("continent")

In [ ]:
#Data needs to be accessed by certain methods
#Call .mean()
drinks.groupby("continent").mean()

In [ ]:
#Call .median()
drinks.groupby("continent").median()

In [ ]:
#What happens when you do .describe()
drinks.groupby("continent").describe()

In [ ]:
#Call specific column on groupby object
drinks.groupby("continent").total_servings.min()

In [ ]:
drinks.groupby("continent").total_servings.max()

End of drinks data. Any questions before we move on?

In [ ]:
#Read in chiptole dataset

path = "../data/chipotle.tsv"
#Use read_table instead read_csv
chip = pd.read_table(path)
chip

We can see that there are some NaN present in the data set. Let's look at how many there are in each column.

In [ ]:
#Call .isnull() and then call .sum()
chip.isnull().sum()

In [ ]:
#What happens when you tack on another .sum()?
chip.isnull().sum().sum()

We need to fix the price column before converting it to a float

In [ ]:
#Whats is item_price type?
chip.item_price.dtype

Pandas series have a string (`str`) method that lets you treat a column like a string

In [ ]:
#Call .str
chip.item_price.str

In [ ]:
#Replace $ with empty string and overwrite item_price column
chip["item_price"] = chip.item_price.str.replace("$", "")

In [ ]:
#Change the type of column from object to float and overwrite item_price column
chip["item_price"] = chip.item_price.astype(float)

In [ ]:
chip.head()

More examples of using the `str`

In [ ]:
# chip.item_name.str.capitalize()

In [ ]:
# chip.item_name.str.lower()

In [ ]:
#chip.item_name.str.len()

We know how to drop rows with null values but how do we drop columns with null values?

In [ ]:
#Drop columns with null values
# chip.dropna(axis=1)

Remember `chip.isnull().sum()`?

In [ ]:
#Set axis = 1 in .sum()
chip.isnull().sum(axis=1)

Axis refers to which direction you wish your command to follow. 1 == columns, 0 = rows. 0 is the default.

This is handy when it comes to dropping rows and columns

In [ ]:
#Lets get rid of the item_name column

chip.drop("item_name")

Why didn't this work?

Forgot to do axis = 1 !!

Let's try it again

In [ ]:
chip.drop("item_name", axis=1)

In [ ]:
#Make it permanent
# chip.drop("item_name", axis = 1, inplace = True)

If you want to drop rows pass index name or list of index names

In [ ]:
chip.drop([0, 2, 4, 6, 8])

Move on from Chipotle to Movie metadata

In [13]:
#Load in movie_metadata dataset
path = "../data/movie_metadata.csv"

movies = pd.read_csv(path)
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [14]:
movies.shape

(5043, 28)

In [15]:
movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [16]:
#Check out the info
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [17]:
#Replace nulls in budget with median of budget
movies.budget.fillna(movies.budget.median(), inplace=True)

In [18]:
#Drop nulls
movies.dropna(inplace=True)

In [19]:
movies.shape

(3975, 28)

Filter out some data. Let's only look at movies that are rated G, PG, PG-13, and R.
We could do it this way movies[(movies.content_rating=="G") etc...]

But let's not!

In [20]:
#Make a list called ratings of the four ratings we want to use
ratings = ["G", "PG", "PG-13", "R"]

In [21]:
#Now lets check to see if a value in content "is in" ratings
movies.content_rating.isin(ratings)

0        True
1        True
2        True
3        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
30       True
        ...
4936     True
4941     True
4944     True
4955     True
4956     True
4959     True
4960     True
4962     True
4964    False
4971     True
4973     True
4975     True
4977     True
4978     True
4979     True
4984     True
4987    False
4997    False
4998     True
5001     True
5008     True
5011     True
5012     True
5015     True
5025    False
5026     True
5027    False
5033     True
5035     True
5042     True
Name: content_rating, dtype: bool

In [22]:
#Return new data frame
movies = movies[movies.content_rating.isin(ratings)]

In [23]:
#check shape
movies.shape

(3866, 28)

## Mapping and applying functions

In [24]:
#Make a new column called profitable by subtracting budget from gross
movies["profit"] = movies.gross - movies.budget
movies.profit.head()

0    523505847.0
1      9404152.0
2    -44925825.0
3    198130642.0
5   -190641321.0
Name: profit, dtype: float64

We want to know if a movie is profitable. How can we go about doing that?
With some python!

In [25]:
#Make a function that returns "profitable" for profit > 0 and "loss" for profit <= 0
def profit_decider(x):
    if x> 0:
        return "profitable"
    else:
        return "loss"

In [26]:
#Apply the function onto the profit column
movies.profit.apply(profit_decider)

0       profitable
1       profitable
2             loss
3       profitable
5             loss
6       profitable
7             loss
8       profitable
9       profitable
10      profitable
11            loss
12            loss
13      profitable
14            loss
15      profitable
16            loss
17      profitable
18            loss
19            loss
20      profitable
21      profitable
22            loss
23      profitable
24            loss
25      profitable
26      profitable
27      profitable
28            loss
29      profitable
30      profitable
           ...
4923    profitable
4926    profitable
4928    profitable
4930    profitable
4931    profitable
4936    profitable
4941    profitable
4944          loss
4955    profitable
4956    profitable
4959    profitable
4960          loss
4962    profitable
4971    profitable
4973    profitable
4975    profitable
4977    profitable
4978          loss
4979          loss
4984    profitable
4998    profitable
5001          loss
5008    profitable
5011    profitable
5012          loss
5015    profitable
5026    profitable
5033    profitable
5035    profitable
5042    profitable
Name: profit, dtype: object

In [27]:
#Make new column called "profitable"
movies["profitable"] = movies.profit.apply(profit_decider)

In [28]:
#How many movies are profitable and not profitable
movies.profitable.value_counts()

profitable    2008
loss          1858
Name: profitable, dtype: int64

Use lambda functions

In [29]:
#Return 1 for movies directed by Christopher Nolan
movies.director_name.apply(lambda x: 1 if x == "Christopher Nolan" else 0)

0       0
1       0
2       0
3       1
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16      0
17      0
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25      0
26      0
27      0
28      0
29      0
30      0
       ..
4923    0
4926    0
4928    0
4930    0
4931    0
4936    0
4941    0
4944    0
4955    0
4956    0
4959    0
4960    0
4962    0
4971    0
4973    0
4975    0
4977    0
4978    0
4979    0
4984    0
4998    0
5001    0
5008    0
5011    0
5012    0
5015    0
5026    0
5033    0
5035    0
5042    0
Name: director_name, dtype: int64

`.apply()` allows us to transform values based on rules set by a function.

`.map()` allows us to use a dictionary to directly change values

In [30]:
#Example of changinge male to m and female to f
data.gender.map({"male":"m", "female":"f"})

NameError: name 'data' is not defined

A parent wants to make a new column called kid friendly where movies that G or PG are labelled "KF" and PG-13 and R movies are labelled "NKF"

In [31]:
#Map a dictionary onto the content_rating column and create new column called "kid_friendly"
kf_dict = {"G" : "KF",
          "PG" : "KF",
          "PG-13" : "NKF",
          "R" : "NKF"}
movies["kid_friendly"] = movies.content_rating.map(kf_dict)

Remember that you must account for every unique value or you will get null values

## Class work exercises

1) What percent of movies are directed by James Cameron?

In [35]:
movies.director_name.value_counts(normalize=True)["James Cameron"]*100

0.1810657009829281

2) What are the correlations among budget, gross, and imdb_score?

In [36]:
cols = ["budget", "gross", "imdb_score"]
movies[cols].corr()

              budget     gross  imdb_score
budget      1.000000  0.100053    0.030544
gross       0.100053  1.000000    0.211515
imdb_score  0.030544  0.211515    1.000000

3) How many PG-13 movies has Robert De Niro starred in?

In [39]:
movies[(movies.content_rating == "PG-13") & (movies.actor_1_name == "Robert De Niro")].shape[0]

10

4) How much money have non-English films generated?

In [40]:
foreign_films = movies[movies.language != "English"]
foreign_films.gross.sum()

1098165972.0

5) Who are the top five grossing directors on average?

In [41]:
movies.groupby("director_name")["gross"].mean().sort_values(ascending=False).head()

director_name
Joss Whedon     432721657.0
Lee Unkrich     414984497.0
Chris Buck      400736600.0
Tim Miller      363024263.0
George Lucas    348283696.0
Name: gross, dtype: float64

5b) Now only look at directors who have directed more than five films

In [42]:
director_value_counts = movies.director_name.value_counts()
directors_with_more_than_5_movies = director_value_counts[director_value_counts>5].index

In [43]:
movies_directors_5 = movies[movies.director_name.isin(directors_with_more_than_5_movies)]

In [44]:
movies_directors_5.shape

(1107, 31)

In [45]:
movies_directors_5.groupby("director_name")["gross"].mean().sort_values(ascending=False).head()

director_name
James Cameron        2.783037e+08
Christopher Nolan    2.266534e+08
Jon Favreau          2.231974e+08
Peter Jackson        2.081789e+08
Gore Verbinski       1.899430e+08
Name: gross, dtype: float64

6) How many movies contain "Action" in the genre column? What about Comedy? What about both Comedy and Action?

In [46]:
movies.genres.apply(lambda x:"Action" in x).sum()

959

In [47]:
#Do it using str method
movies.genres.str.contains("Action").sum()

959

In [48]:
movies.genres.apply(lambda x:"Comedy" in x).sum()

1529

In [49]:
movies.genres.str.contains("Comedy").sum()

1529

In [50]:
movies.genres.apply(lambda x:"Comedy" in x and "Action" in x).sum()

222

In [51]:
((movies.genres.str.contains("Comedy")) & (movies.genres.str.contains("Action"))).sum()

222

If you finish the exercises before the end of class, then further investigate the movies dataset on your own or any of the other sets in the data folder.

Be sure to check out any of these pandas resources

- Pandas cheatsheets in the extracurricular directory

- https://chrisalbon.com/ <- Great website. For now check out data wrangling section.

- Data school's collection of resources http://www.dataschool.io/best-python-pandas-resources/

- Data school tutorial in giant repo. http://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb

- http://www.gregreda.com/2013/10/26/intro-to-pandas-data-structures/
- http://nbviewer.jupyter.org/github/fonnesbeck/Bios8366/blob/master/notebooks/Section2_1-Introduction-to-Pandas.ipynb

- Repo with Pandas exercises https://github.com/guipsamora/pandas_exercises

- https://github.com/brandon-rhodes/pycon-pandas-tutorial

- https://github.com/jonathanrocher/pandas_tutorial

- https://github.com/chendaniely/scipy-2017-tutorial-pandas

- https://github.com/adeshpande3/Pandas-Tutorial

Youtube is your friend!! They are too many pandas tutorials videos to count.

<b>If you find a good resource be sure to share it with the rest of the class<b>